<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login to site</h1>
    <ul class="error">
    {{#errors}}
        <li>{{msg}}</li>
    {{/errors}}
    </ul>

    <form action="/login" method="post">
      <input type="email" name="email" placeholder="Email"/><br>
      <input type="password" name="password" placeholder="Password" /></br>
      <button>Login</button>
    </form>
  </body>
</html>
